<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=yes"
    />
    <link rel="stylesheet" href="tailwind.css" />
    <title>index</title>
  </head>
  <body class="flex justify-center">
    <div class="grid grid-cols-1 justify-center m-2 max-w-screen-sm min-w-80">
      <span id="python-by-example" class="text-4xl my-4">Python Paragon</span>
      <div>
        Do you want a fast and simple reference for Python? Here it is! It
        should cover the majority of use-cases, at least the ones that I have.
        If you would like a more thorough guide,
        <a
          href="https://docs.python.org/3/tutorial/index.html"
          class="underline"
          >the Python tutorial is this way</a
        >
      </div>
      <div class="m-6 grid grid-cols-1">
        {% for example in examples %} {% for key, value in example.items() %}
        <a href="{{ value }}.html" class="underline">{{ key }}</a>
        {% endfor %} {% endfor %}
      </div>
      Note that this is basically a copy of
      <a href="https://gobyexample.com/" class="underline">gobyexample.com</a>
    </div>
  </body>
</html>
